*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

.vs/
*.opendb
*.db

[Dd]ebug/
[Dd]ebugincremental/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
Log/
logs/

node_modules/

.DS_Store
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

appsettings.Development.json
*.usersecrets
.env

.idea/
*.sln.iml

.dockerignore